* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}